.bio {
    @include displayFlex(row, flex-start, flex-start);
    height: 50rem;

    &__image {
        width: 50%;
        height: 100%;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            object-fit: cover;
        }
    }

    &__info {
        flex: 1;
        background-color: #111;
        position: relative;
        height: 100%;

        &-container {
            width: 75%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        h2 {
            color: white;
            font-size: 3rem;
            font-weight: 500;
            font-family: 'Brygada 1918', serif;
        }

        .fa {
            color: $primary;
            font-size: 1.5rem;
            margin-bottom: .75rem;
        }

        span {
            color: $primary;
            font-size: 1.25rem;
            display: inline-block;
            margin: 1rem 0 1.5rem;
            line-height: 1.9rem;
        }

        p {
            color: white;
            opacity: .75;
            font-size: 1.15rem;
            font-weight: 300;
            line-height: 1.75rem;
        }
    }
}